@import '#build/ui.css';
@source './components';

@variant light (&:where(.light, .light *));
@variant dark (&:where(.dark, .dark *));

@layer theme {
  :root, :host {
    --ui-container: 80rem;

    --ui-text-dimmed: color-mix(in oklab, var(--ui-color-on-surface) var(--ui-emphasis-medium), transparent);
    --ui-text-muted: var(--ui-color-on-surface-variant);
    --ui-text-toned: color-mix(in oklab, var(--ui-color-on-surface) var(--ui-emphasis-high), transparent);
    --ui-text: var(--ui-color-on-surface);
    --ui-text-highlighted: var(--ui-color-on-background);
    --ui-text-inverted: var(--ui-color-on-inverse-surface);

    --ui-bg: var(--ui-color-background);
    --ui-bg-muted: var(--ui-color-surface-container-low);
    --ui-bg-elevated: var(--ui-color-surface-container);
    --ui-bg-accented: var(--ui-color-surface-container-high);
    --ui-bg-inverted: var(--ui-color-inverse-surface);

    --ui-border: var(--ui-color-outline);
    --ui-border-muted: var(--ui-color-outline);
    --ui-border-accented: var(--ui-color-outline-variant);
    --ui-border-inverted: var(--ui-color-inverse-surface);
  }
}

@keyframes ui-spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ui-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@utility animate-spinner-rotate {
  transform-origin: center;
  animation: ui-spinner-rotate 1.5s linear infinite;
}

@utility animate-spinner-dash {
  animation: ui-spinner-dash 0.75s ease-in-out infinite;
}
